---
layout: default
---

<p>&larr; <a href="{{ "/news/" | relative_url }}">View all news</a></p>

{% if page.draft %}
<div class="col-12 alert alert-warning" role="alert">
  <strong>This is an unpublished draft post.</strong>
</div>
{% endif %}

<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>

<p class="text-muted">
  {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
</p>

{{ content }}
